{% extends 'layout.html' %}

{% block content %}
<head>
	<title>Add Data</title>
</head>
<body>
	<center>
		<br>
		<h1>Add Data</h1>
		<br>
		<div>
			<a class="btn btn-primary" href="{{url_for('addproject')}}" role="button">Add Project</a>
			<a class="btn btn-primary" href="{{url_for('addteacher')}}" role="button">Add Teacher</a>
		</div>
		<br>
		<br>
		<div class="alert alert-success" role="alert">
			Database Updated! Thank you!
		</div>
		<a class="btn btn-primary" href="{{url_for('home')}}" role="button">Go back</a>
	</center>
</body>
{% endblock %}