{% extends 'layout.html' %}

{%block content%}
<head>
	<title>Domains</title>
</head>
<body>
	<center>
		<br>
		<h1>Domain Details</h1>
		<br>
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col-md-4">Domain ID</th>
					<th scope="col-md-4">Domain Name</th>
				</tr>
			</thead>
			{% for dom in domDetails %}
			<tr>
				<td> {{dom[0]}} </td>
				<td> {{dom[1]}} </td>
			</tr>
			{% endfor %}
		</table>

		<br>
	<!-- <div class="btn-group">
		<a class="btn btn-primary" href="{{url_for('addproject')}}" role="button">Add Project</a>
		<a class="btn btn-danger" href="{{url_for('delproject')}}" role="button">Delete Project</a>
	</div> -->
</center>
</body>

{% endblock %}